@use "base";

// PRIMARY CTA
.primaryCTA,
.secondaryCTA {
  background-color: base.$accent-color;
  padding: 5px 10px;
  border-radius: 3px;
  a {
    color: #fff;
  }
}
.secondaryCTA {
  background-color: base.$primary-color;
}
.primaryCTA:hover {
  background-color: lighten(base.$accent-color, 7%);
}

.secondaryCTA:hover {
  background-color: lighten(base.$primary-color, 7%);
}

// NAV COMPONENT
.navComponent {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
}

// BANNER
.bannerContainer .bannerImage {
  position: relative;
}
.bannerImage {
  background-image: url("./banner.webp");
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 45%;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
  //   opacity: 0.7;
  border-radius: 25px;
  border: none;
  .bgBannerFadeOut {
    background-color: rgba(161, 161, 161, 0.495);
    width: 100%;
    height: 100%;
  }

  a {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 30vh;
    padding: 1rem;
  }
  .primaryCTA,
  .secondaryCTA {
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}

// LINE-UP
.lineupContainer {
  max-width: 1400px;
  margin: 0 auto;
}
.lineupBand,
.defaultLineup {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  column-gap: 4px;
}
.defaultLineup {
  font-size: 2rem;
  width: 70%;
  text-align: center;
  margin-bottom: 1rem;
}

// RADIO BUTTONS
// source: https://codepen.io/phusum/pen/VQrQqy
.radioButton {
  float: left;
  margin: 1rem;
  width: 120px;
  height: 60px;
  position: relative;
  background-color: base.$primary-color;
  color: white;
  border-radius: 25px;
}

.radioButton label,
.radioButton input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.radioButton input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.radioButton input[type="radio"]:checked + label {
  background: #20b8be;
  border-radius: 25px;
}

.radioButton label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
  display: block;
  // width: 8ch;
  text-align: center;
  padding: 0 1rem;
}

//BAND CARD

.bandCard {
  cursor: pointer;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  h4 {
    position: relative;
    color: white;
    top: -3rem;
    left: 1rem;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 200px;
  }
}

.midgard::before {
  background-color: base.$midgard-color;
}

.vanaheim::before {
  background-color: base.$vanaheim-color;
}

.jotunheim::before {
  background-color: base.$jotunheim-color;
}

//POPUP

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    max-height: 500px;
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 7%;
    cursor: pointer;
  }

  > div {
    padding: 0 3rem 2rem;
    .popUpName {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      h4 {
        padding-bottom: 0;
      }
    }
    h2,
    .members {
      padding-bottom: 1rem;
    }
  }
}

// FOOTER
.footerContainer {
  background-image: url(./beach-footer.jpg);
  background-position: 25% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
  h4 {
    font-size: 1.3rem;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.4rem;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem;
  }
  .bgImageFadeOut {
    background-color: rgba(216, 216, 216, 0.553);
  }
}
//tickets-page styling
h1 {
  text-align: center;
  font-family: base.$headers-font;
}
.ticketsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 0 12rem;
  max-width: 1000px;
  margin: 1rem auto;
}
.ticketContainer {
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  ul {
    padding: 1rem 1rem 1rem 2rem;
  }
  h4 {
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid base.$primary-color;
    margin: 1rem 0;
  }
  p {
    text-align: center;
  }
}
.svgWave {
  background-image: url(../sass/wave.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 5.5rem;
  h3 {
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: base.$logo-font;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
}
.counter {
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 1rem;
}
.plusminus {
  padding: 0 0.5rem;
  background-color: #e57812;
  color: white;
  font-weight: 500;
  margin: 0 0.5rem;
  cursor: pointer;
}

.plusminus:disabled {
  opacity: 0.7;
}
