@use "base";

// PRIMARY CTA
.primaryCTA,
.secondaryCTA {
  background-color: base.$accent-color;
  padding: 5px 10px;
  border-radius: 3px;
  a {
    color: #fff;
  }
}
.secondaryCTA {
  background-color: base.$primary-color;
}
.primaryCTA:hover {
  background-color: lighten(base.$accent-color, 7%);
}

.secondaryCTA:hover {
  background-color: lighten(base.$primary-color, 7%);
}

// NAV COMPONENT
.navComponent {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
}

// BANNER
.bannerContainer .bannerImage {
  position: relative;
}
.bannerImage {
  background-image: url("./banner.webp");
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 45%;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
  //   opacity: 0.7;
  border-radius: 25px;
  border: none;
  .bgBannerFadeOut {
    background-color: rgba(161, 161, 161, 0.495);
    width: 100%;
    height: 100%;
  }

  a {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 30vh;
    padding: 1rem;
  }
  .primaryCTA,
  .secondaryCTA {
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}

// LINE-UP
.lineupContainer {
  max-width: 1400px;
  margin: 0 auto;
}
.lineupBand,
.defaultLineup {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  column-gap: 4px;
}
.defaultLineup {
  font-size: 2rem;
  width: 70%;
  text-align: center;
  margin-bottom: 1rem;
}

//BAND CARD

.bandCard {
  cursor: pointer;
  img {
    width: 40%;
  }
  h4 {
    position: relative;
    color: white;
    top: -3rem;
    left: 1rem;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 105px;
  }
}

.midgard::before {
  background-color: base.$midgard-color;
}

.vanaheim::before {
  background-color: base.$vanaheim-color;
}

.jotunheim::before {
  background-color: base.$jotunheim-color;
}

//POPUP

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  min-width: 30%;
  /* background-image: url("images/background.jpg"); */
  background-color: aqua;
  overflow: hidden;

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    height: 7%;
    cursor: pointer;
  }

  div {
    padding: 2rem;
  }
}

// FOOTER
.footerContainer {
  background-image: url(./beach-footer.jpg);
  background-position: 25% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
  h4 {
    font-size: 1.3rem;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.4rem;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem;
  }
  .bgImageFadeOut {
    background-color: rgba(216, 216, 216, 0.553);
  }
}
