@use "base";

body {
  background: base.$background-gradient;
  background-repeat: no-repeat;
  color: base.$primary-color;
  font-family: base.$paragraph-font;
}

a,
li {
  color: base.$primary-color;
  font-family: base.$headers-font;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    // * {
    //   font-family: base.$headers-font;
    // }
  }
}

#welcomeImageBackground {
  background-image: url("./beach-header.jpg");
  background-repeat: no-repeat;
  // background-position: center;
  background-size: 100%;
  height: 100vh;
}

.opacityContainer {
  height: 100vh;
  background-color: #ffffff7d;
  // background: base.$background-gradient;
}
h1 {
  padding: 4rem 0;
}
.logo {
  font-family: base.$logo-font;
  color: base.$primary-color;
  font-size: 4rem;
}
.landingHeader,
h2 {
  text-align: center;
}

h2 {
  padding: 2rem 0;
}
