@use "base";

body {
  background: base.$background-gradient;
  background-repeat: no-repeat;
  color: base.$primary-color;
  font-family: base.$paragraph-font;
}
button {
  all: unset;
}

a,
li {
  color: base.$primary-color;
  font-family: base.$headers-font;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  .navFlexWrapper {
    display: flex;
    gap: 2rem;
  }
}

#welcomeImageBackground {
  background-image: url("./beach-header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.opacityContainer {
  height: 100vh;
  background-color: #ffffff7d;
}
h1 {
  padding: 4rem 0;
}
.logo {
  font-family: base.$logo-font;
  color: base.$primary-color;
  font-size: 4rem;
}
.landingHeader,
h2 {
  text-align: center;
}

h2 {
  padding: 2rem 0;
  font-size: 2rem;
}

#countdownContainer {
  text-align: center;
  *:first-child {
    font-size: 6rem;
    word-spacing: 30px;
  }
  h3 {
    word-spacing: 50px;
    padding-left: 1rem;
  }
  * {
    font-size: 1.5rem;
    font-family: base.$headers-font;
  }
}

.scheduleButtons {
  display: flex;
  flex-direction: column;
}

.schedules {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.artistsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}
